<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftn.uns.travelplaner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewCommentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ftn.uns.travelplaner.ObjectActivity" />
        </activity>
        <activity
            android:name=".ObjectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ftn.uns.travelplaner.RouteListActivity" />
        </activity>
        <activity
            android:name=".NewActivityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ftn.uns.travelplaner.RouteListActivity" />
        </activity>
        <activity
            android:name=".NewRouteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ftn.uns.travelplaner.RoutesActivity" />
        </activity>
        <activity
            android:name=".NewTravelActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ftn.uns.travelplaner.TravelsActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RouteMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RouteListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoutesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TravelItemsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TravelInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TravelsActivity"
            android:label="@string/title_activity_travels"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>